<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">





    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            min-height: 100vh;
            font-family: 'Inter',sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main-container{
            display:flex;
            width: 100%;
            padding:0 1rem;
        }
        .input-container{
            width: 50%;
            padding: 1rem;
            padding-left: 5%;
        }
        .input-container .form-container{
            padding: 1rem 0;
        }
        .form-container > *{
            padding: 1rem 0;
        }
        .input-container h1{
            max-width: 400px;
            font-size: 28px;
            font-weight: 400;
            line-height: 40px;
        }
        .input-container h2{
            font-size: 24px;
            font-weight: 700;
        }
        .input-container input{
            border: 1px solid #000;
            padding: 5px 12px;
            font-size: 22px;
            border-radius: 5px;
            color: #000;
        }
        .name-input{
            text-transform: capitalize;
        }
        .input-container button{
            padding: 5px 12px;
            border-radius: 10px;
            background-color: #5B52EE;
            border: none;
            font-size: 28px;
            font-weight: 600;
            color: white;
            margin-top: 20px;
        }
        .main-vid-container{
            
            /* min-height: 100vh; */
            position: relative;
            width: 800px;
            height: 440px;
            max-width: 1200px;
        }
        .video-container{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        .element-container{
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .video-element{
            position: absolute;
            transition:0.2s all ease;
            /* width: 15%; */
            top: 14%;
            left: 31.5%;
            opacity: 0;
        }
        .video-element a{
          text-transform: capitalize;
          color: inherit;
          text-decoration: none;
          font-size: 28px;
          font-weight: 700;
          
        }
        .video-element p{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 36px;
            opacity: 0;
            /* transition: 0.2s all ease; */
        }
        .playfair{
            font-family: 'Playfair Display', sans-serif;
        }
        .inter{
            font-family: 'Inter',sans-serif;
        }
        .pizza-greeting{
            top: 35%;
            left: 46%;
        }
        .pizza-greeting-frame-2{
            top: 24%;
            left: 46%;
        }
        .gif{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1111;
        }
        .alert-container{
            background-color: rgba(240,10,10,0.2);
            padding:0;
            border-radius: 5px;
            margin:20px 0 0 0;

        }
        .alert-container div{
            color: rgba(240,10,10,1);
            max-width: 400px;
            font-size: 18px;
        }
        .uppercase{
            text-transform: uppercase;
        }
        

        @media only screen and (max-width:768px) {
     
            .main-container{
                flex-direction: column;
            }
            .input-container, .main-vid-container{
                width: 100%;
                align-content: center;
                text-align: center;
                margin: 4rem auto;
            }
            .main-vid-container{
                height: 220px;
            }
            .input-container h1{
                margin: 0 auto;
            }
            .alert{
                margin: 0 auto;
            }
           

}
.main-vid-container h1{
    display: none;
}
        @media (max-width:400px) {
            .main-container{
                position: relative;
            }
            .video-element p{
                font-size: 16px !important;
            }
            .video-element a{
                font-size: 16px !important;
            }
            .twenty-one{
                font-size: 20px !important;
            }
            .pizza-p-mobile{
                font-size: 14px !important;
            }
            input{
                border-radius: 0 !important;
                margin-top: 15px;
            }
            .main-vid-container h1{
                font-weight: 400;
                font-size: 28px;
                margin: 4rem auto 8rem auto;
                padding: 0 1rem;
                line-height: 40px;
            }
            .main-vid-container{
                display: none;
                opacity: 0;
                transition: 1s all ease;
            }
            .hide-at-mobile{
                display: none;
            }
            .show-at-mobile{
                display: block !important;
            }
            .opaque{
                opacity: 1 !important;
            }
            .show-at-mobile h1{
                display: block !important;
            }
            button{
                cursor: pointer;
            }
            body{
                align-items: flex-start;
            }
            .fourteen{
            font-size: 14px !important;
            }
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="input-container">
            <h1>Enter you Name to create a personalized video right now !</h1>
            <div class="alert-container">
                <div class="alert"></div>
            </div>
            <div action="/my-video" class="form-container">
                <div>
                    <h2>Name</h2>
                    <input class="name-input" type="text" required>
                </div>
                <div>
                    <h2>Business Email</h2>
                    <input class="email-input" type="email" required>
                </div>
                <button type="submit" class="btn-submit">Personalise</button>
            </div>
        </div>

        <div class="main-vid-container">
            <h1>Enter you Name to create a personalized video right now !</h1>
            <div class="video-container">


                <video playsinline="true" webkit-playsinline="true" preload class="my-video" src="/Assets/My Movie.mp4"  controls></video>
            </div>


            <div class="element-container">
                <img style="display: none;" class="gif" src="https://cdn.dribbble.com/users/1018473/screenshots/3963419/loader.gif" alt="">
              <div class="video-element" style="display: none;"></div>
            </div>
        </div>
   </div>
    
    <script>
        const Name = [];
        const Company = [];
        let video = document.querySelector('.my-video');
        let videoElement = document.querySelector('.video-element');
        const elementContainer = document.querySelector('.element-container');
        let text = document.querySelector('.video-element p');
        let name = document.querySelector('.name-input');
        let email = document.querySelector('.email-input');
        let btnSubmit = document.querySelector('.btn-submit');
        let gif = document.querySelector('.gif');
        let alert = document.querySelector('.alert');
        let alertContainer = document.querySelector('.alert-container');
        let inputContainer = document.querySelector('.input-container');
        let mainVidContainer = document.querySelector('.main-vid-container');





        video.style.opacity = `0`;



          function fetchCompanyName(e){
            try{
            if(e.includes('@') && e.includes('.')){

                let i = e.indexOf('@');
                let j = e.lastIndexOf('.');
                let f = e.split('@');
                let n = f[1].split('.');
                let companyName = n[0];
                return companyName;
            }else{
              throw error;
            }
            }catch(error){
                console.log(error.message);
                alert.textContent = `Please provide a valid email address.`;
                alertContainer.style.padding = `5px 12px`;

            }
           
        }

        btnSubmit.addEventListener("click",()=>{
            if(name.value !== "" && email.value !== ""){

                Name.length = 0;
                Company.length = 0;
                let firstName = name.value.split(" ");
                Name.push(firstName[0]);
                let company = fetchCompanyName(email.value);
                Company.push(company);
                
                if(company !== undefined){                    
                    gif.style.display = `block`;
                    inputContainer.classList.add('hide-at-mobile');
                    mainVidContainer.classList.add('show-at-mobile');
                    setTimeout(()=>{
                        mainVidContainer.classList.add('opaque');
                    },500)
                     
                alert.textContent = ``;
                alertContainer.style.padding = `0`;
                setTimeout(()=>{
                    gif.style.display = `none`;
                    video.style.opacity = `1`;
                    video.currentTime = 0;
                    video.play();
                },2000)
            }
                
                
            }else{
                console.log('alert');
                alert.textContent = `Please provide username and you email id.`
                alertContainer.style.padding = `5px 12px`;
            }
        })

       
        video.addEventListener('timeupdate',()=>{
            if(video.currentTime > 15.875 && video.currentTime < 21.25){
                videoElement.innerHTML =   `<a target="_blank" href="https://www.google.com">${Name[0]}</a>`;
                videoElement.style.cssText = `top:14%;left:31.5%;display:block;z-index:11;opacity:1;`;



            }else if(video.currentTime > 14.8 && video.currentTime < 15.875){
                videoElement.innerHTML = `<a target="_blank" href="https://www.google.com">${Name[0]}</a>`;
                videoElement.style.cssText = `display:block;top:43%;left:34.5%;z-index:11;opacity:1;transition:0.175s all linear`;



            }else if(video.currentTime > 5.6 && video.currentTime < 6.6){
                videoElement.style.cssText = `display:flex;justify-content:center;align-items:center;opacity:1;position:relative;height:100%;top:0;left:0;width:100%;`;
                videoElement.innerHTML = `<p class='playfair ' style='color:#fff;z-index:11;opacity:1;'><span class='uppercase'>${Company[0]}</span> Wishes You</p>`;



            }else if(video.currentTime > 7 && video.currentTime < 9){
                videoElement.innerHTML = `<p class='playfair' style='color:#fff;z-index:11;opacity:1;filter:blur(0px)'>A Happy Diwali ${Name[0]}</p>`;
                videoElement.style.cssText = `display:flex;justify-content:center;align-items:center;opacity:1;position:relative;height:100%;top:0;left:0;width:100%;`;



            }else if( video.currentTime > 0.2 && video.currentTime < 1.5){
                videoElement.innerHTML = `<p class='playfair' style='color:#fff;z-index:11;opacity:1;filter:blur(0px)'>Hey ${Name[0]}</p>`;
                videoElement.style.cssText = `display:flex;justify-content:center;align-items:center;opacity:1;position:relative;height:100%;top:0;left:0;width:100%;`;



            }else if(video.currentTime > 1.5 && video.currentTime < 2.7){
                videoElement.innerHTML = `<p class='playfair' style='color:#fff;z-index:11;opacity:1;filter:blur(0px);text-align:center;'>Let us show what DUALITE can do for your company <span class='uppercase'>${Company[0]}</span>.</p>`;
                videoElement.style.cssText = `display:flex;justify-content:center;align-items:center;opacity:1;position:relative;height:100%;top:0;left:0;width:100%;`;



            }else if(video.currentTime > 2.7 && video.currentTime < 5){
                videoElement.innerHTML = `<p class='playfair' style='color:#fff;z-index:11;opacity:1;filter:blur(0px);font-size:40px;'>Let's go !</p>`;
                videoElement.style.cssText = `display:flex;justify-content:center;align-items:center;opacity:1;position:relative;height:100%;top:0;left:0;width:100%;`;



            }else if(video.currentTime > 9.5 && video.currentTime < 9.9){
                videoElement.innerHTML = `<span class='inter fourteen' style='color:#fff;z-index:11;opacity:1;text-transform:capitalize;filter:blur(0px);color:#000;font-weight:600;font-size:28px;'>${Name[0]}</span>`;
                // videoElement.style.cssText = `display:flex;justify-content:center;align-items:center;opacity:1;position:relative;height:100%;top:0;left:0;width:100%;transition:0.2s all ease;`;
                videoElement.style.cssText = `display:block;top:36%;left:46%;z-index:11;opacity:1;`;
                
                



            }else if(video.currentTime > 10 && video.currentTime < 14.2){ 
                if(Name[0].length < 7){

                    videoElement.innerHTML = `<div class=' fourteen inter pizza-p-mobile' style='color:#fff;z-index:11;opacity:1;filter:blur(0px);color:#000;font-weight:600;text-transform:capitalize;font-size:28px;'>${Name[0]}</div>`;
                    videoElement.style.cssText = `display:block;top:25%;left:46%;z-index:11;opacity:1;`;
                }else{
                    videoElement.innerHTML = `<div class='inter fourteen pizza-p-mobile' style='color:#fff;z-index:11;opacity:1;filter:blur(0px);color:#000;font-weight:600;font-size:22px;text-transform:capitalize;'>${Name[0]}</div>`;
                    videoElement.style.cssText = `display:block;top:26%;left:46%;z-index:11;opacity:1;`;

                }
                
                // videoElement.style.cssText = `display:flex;justify-content:center;align-items:center;opacity:1;position:relative;height:100%;top:0;left:0;width:100%;transition:0.2s all ease;`;
                



            }else if(video.currentTime > 21.25 && video.currentTime < 22.25){
                videoElement.innerHTML = `<p class='inter twenty-one' style='color:#fff;z-index:11;opacity:1;filter:blur(0px);color:#000;font-weight:400;font-size:50px;'>${Name[0]}</p>`;
                videoElement.style.cssText = `display:block;top:45%;left:40%;z-index:11;opacity:1;transition:none;`;


            }else{
                videoElement.style.display = `none`;
                videoElement.style.opacity = `0`;
            }

            
            
        })
            </script>

           
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/21805225.js"></script>
<!-- End of HubSpot Embed Code -->



</body>
</html>